@page
@model AEGBuilders.Pages.AboutModel
@{
}

<div class="text-center">
    AEG Building is owned by Alvidas Klevinskas - a builder by trade with over 17 years of experience within the building industry.
    AEG team consists of very skilled tradesmen based in London. We have been providing our building and carpentry services in and around London and Kent, and have completed many building projects giving us a well-earned reputation.

    Whether your requirements are for a domestic extension, loft conversion, garage conversion, garden project, internal alterations or a new house build - we will work closely with you bringing your ideas to reality.
    We can provide advice and suggestions to obtain the best potential for your building project using our experience and knowledge.
    Alternatively, you may only require an external door or wooden flooring fitted, or kitchen remodelling and refurbishment.
    Big or small, AEG Building will work with 100% attention to detail.

    The first step for any job is to arrange a consultation where we discuss your requirements and budget to fully understand your needs.
    From initial consultation through to project completion, we provide a professional and friendly service throughout.
    We provide the best quality service we can for a competitive price.
</div>
