@page
@{
    ViewData["Title"] = "Contact Us for Expert Building and Carpentry Services within London and Kent";
}

<div class="text-center" id="contact">
    <p>Please do not hesitate to get in touch via phone or email</p>
    

    <p>☏ 07838 549 434</p>

    <p>✉ info@aegbuilders.co.uk</p>
</div>