@page
@{
    ViewData["Title"] = "Contact Us for Expert Building and Carpentry Services within London and Kent";
}
@section metatags {
    <meta name="description" content="Get in touch with AEG Builders, the trusted experts for building and carpentry services in London and Kent. Contact us today to discuss your project requirements and receive personalised assistance." />
}

<div class="text-center" id="contact">
    <p>Please do not hesitate to get in touch via phone or email</p>
    

    <p>☏ 07838 549 434</p>

    <p>✉ info@aegbuilders.co.uk</p>
</div>