@page
@{
}

<div class="portfolio">
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>Bathroom Refurbishment</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">North Bromley</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio5.jpg" />
                <img class="portfolio-image" src="~/images/portfolio6.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio1.jpg" />
                <img class="portfolio-image" src="~/images/portfolio2.jpg" />
                <img class="portfolio-image" src="~/images/portfolio3.jpg" />
                <img class="portfolio-image" src="~/images/portfolio4.jpg" />
            </div>
        </div>
        <hr>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>Back and Front Garden Project</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">West Wickham</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio7.jpg" />
                <img class="portfolio-image" src="~/images/portfolio12.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio8.jpg" />
                <img class="portfolio-image" src="~/images/portfolio9.jpg" />
                <img class="portfolio-image" src="~/images/portfolio10.jpg" />
                <img class="portfolio-image" src="~/images/portfolio11.jpg" />
                <img class="portfolio-image" src="~/images/portfolio13.jpg" />
            </div>
        </div>
        <hr>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>Porch Project</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">Dagenham</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio16.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio15.jpg" />
                <img class="portfolio-image" src="~/images/portfolio14.jpg" />
            </div>
        </div>
        <hr>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>Back Garden and Bathroom Remodeling</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">Stratton Drive, Barking</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio19.jpg" />
                <img class="portfolio-image" src="~/images/portfolio23.jpg" />
                <img class="portfolio-image" src="~/images/portfolio24.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio17.jpg" />
                <img class="portfolio-image" src="~/images/portfolio18.jpg" />
                <img class="portfolio-image" src="~/images/portfolio21.jpg" />
                <img class="portfolio-image" src="~/images/portfolio22.jpg" />
            </div>
        </div>
        <hr>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>Back Garden Project</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">Jackson Road, Bromley</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio27.jpg" />
                <img class="portfolio-image" src="~/images/portfolio28.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio25.jpg" />
                <img class="portfolio-image" src="~/images/portfolio26.jpg" />
            </div>
        </div>
        <hr>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>Loft Conversion</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">Hornchurch</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio31.jpg" />
                <img class="portfolio-image" src="~/images/portfolio32.jpg" />
                <img class="portfolio-image" src="~/images/portfolio33.jpg" />
                <img class="portfolio-image" src="~/images/portfolio34.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio29.jpg" />
                <img class="portfolio-image" src="~/images/portfolio30.jpg" />
            </div>
        </div>
        <hr>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>House Remodeling</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">Stratton Drive</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio37.jpg" />
                <img class="portfolio-image" src="~/images/portfolio38.jpg" />
                <img class="portfolio-image" src="~/images/portfolio39.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio35.jpg" />
                <img class="portfolio-image" src="~/images/portfolio36.jpg" />
            </div>
        </div>
        <hr>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>Back Garden Remodeling</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">Hawfield Bank, Orpington</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio41.jpg" />
                <img class="portfolio-image" src="~/images/portfolio42.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio40.jpg" />
            </div>
        </div>
        <hr>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>House Remodeling</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">Church Road, East London</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio56.jpg" />
                <img class="portfolio-image" src="~/images/portfolio57.jpg" />
                <img class="portfolio-image" src="~/images/portfolio58.jpg" />
                <img class="portfolio-image" src="~/images/portfolio59.jpg" />
                <img class="portfolio-image" src="~/images/portfolio60.jpg" />
                <img class="portfolio-image" src="~/images/portfolio61.jpg" />
                <img class="portfolio-image" src="~/images/portfolio62.jpg" />
                <img class="portfolio-image" src="~/images/portfolio63.jpg" />
                <img class="portfolio-image" src="~/images/portfolio64.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio44.jpg" />
                <img class="portfolio-image" src="~/images/portfolio45.jpg" />
                <img class="portfolio-image" src="~/images/portfolio46.jpg" />
                <img class="portfolio-image" src="~/images/portfolio47.jpg" />
                <img class="portfolio-image" src="~/images/portfolio48.jpg" />
                <img class="portfolio-image" src="~/images/portfolio49.jpg" />
                <img class="portfolio-image" src="~/images/portfolio50.jpg" />
                <img class="portfolio-image" src="~/images/portfolio51.jpg" />
                <img class="portfolio-image" src="~/images/portfolio52.jpg" />
                <img class="portfolio-image" src="~/images/portfolio53.jpg" />
                <img class="portfolio-image" src="~/images/portfolio54.jpg" />
                <img class="portfolio-image" src="~/images/portfolio55.jpg" />
                <img class="portfolio-image" src="~/images/portfolio65.jpg" />
            </div>
        </div>
        <hr>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>Back Garden Remodeling</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">Croydon</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio69.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio66.jpg" />
                <img class="portfolio-image" src="~/images/portfolio67.jpg" />
                <img class="portfolio-image" src="~/images/portfolio68.jpg" />
            </div>
        </div>
        <hr>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>Front Garden Remodeling</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">Park Road, North Bromley</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio73.jpg" />
                <img class="portfolio-image" src="~/images/portfolio74.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio70.jpg" />
                <img class="portfolio-image" src="~/images/portfolio71.jpg" />
                <img class="portfolio-image" src="~/images/portfolio72.jpg" />
            </div>
        </div>
        <hr>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>Back and Front Garden Remodeling</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">Canon Road, North Bromley</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <div class="portfolio-image"><img src="~/images/portfolio78.jpg"></div>
                <div class="portfolio-image"><img src="~/images/portfolio79.jpg"></div>
                <div class="portfolio-image"><img src="~/images/portfolio80.jpg"></div>
                <div class="portfolio-image"><img src="~/images/portfolio81.jpg"></div>
                <div class="portfolio-image"><img src="~/images/portfolio82.jpg"></div>
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio75.jpg" />
                <img class="portfolio-image" src="~/images/portfolio76.jpg" />
                <img class="portfolio-image" src="~/images/portfolio77.jpg" />
            </div>
        </div>
        <hr>
    </div>
</div>