@page
@{
}

<div class="portfolio">
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>Bathroom Refurbishment</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">North Bromley</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio5.jpg" />
                <img class="portfolio-image" src="~/images/portfolio6.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio1.jpg" />
                <img class="portfolio-image" src="~/images/portfolio2.jpg" />
                <img class="portfolio-image" src="~/images/portfolio3.jpg" />
                <img class="portfolio-image" src="~/images/portfolio4.jpg" />
            </div>
        </div>
        <hr>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>Back and Front Garden Project</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">West Wickham</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio7.jpg" />
                <img class="portfolio-image" src="~/images/portfolio12.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio8.jpg" />
                <img class="portfolio-image" src="~/images/portfolio9.jpg" />
                <img class="portfolio-image" src="~/images/portfolio10.jpg" />
                <img class="portfolio-image" src="~/images/portfolio11.jpg" />
                <img class="portfolio-image" src="~/images/portfolio13.jpg" />
            </div>
        </div>
        <hr>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>Porch Project</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">Dagenham</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio16.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio15.jpg" />
                <img class="portfolio-image" src="~/images/portfolio14.jpg" />
            </div>
        </div>
        <hr>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-item-left text-about">
            <div class="portfolio-text">
                <strong>Back Garden and Bathroom Remodelling</strong>
                <img class="arrow-image" src="~/images/arrow.png" />
            </div>
            <div class="portfolio-text">Stratton Drive, Barking</div>
        </div>
        <div class="portfolio-before-after text-about">
            <strong class="ab">Before</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio19.jpg" />
                <img class="portfolio-image" src="~/images/portfolio23.jpg" />
                <img class="portfolio-image" src="~/images/portfolio24.jpg" />
            </div>
            <strong class="ab">After</strong>
            <div class="portfolio-item-right">
                <img class="portfolio-image" src="~/images/portfolio17.jpg" />
                <img class="portfolio-image" src="~/images/portfolio18.jpg" />
                <img class="portfolio-image" src="~/images/portfolio21.jpg" />
                <img class="portfolio-image" src="~/images/portfolio22.jpg" />
            </div>
        </div>
        <hr>
    </div>
</div>