@page
@{
}


<div class="text-center">
    <div class="text-center">We offer the following services:</div>
    <ul>
        <li><img src="~/images/icon-saw.png" alt="Services" class="services-img">Carpentry</li>
        <li><img src="~/images/icon-saw.png" alt="Services" class="services-img">Joinery</li>
        <li><img src="~/images/icon-saw.png" alt="Services" class="services-img">Woodworking</li>
        <li><img src="~/images/icon-saw.png" alt="Services" class="services-img">Extensions</li>
    </ul>
</div>